.container{
    margin-top: 50px;
    background-color: rgba(232, 232, 232, 0.859);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 12px;
    box-shadow: 1px 9px 168px -16px rgba(0,0,0,0.75); */
}

.containerImgSummary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 0.1px solid rgb(0, 0, 0); */
}

.containerSummaryHealthDiet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 456px;
    /* border: 0.1px solid rgb(0, 0, 0); */
}

.containerDietHealth{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 456px;
}

.containerHealtScore{
    display: flex;
    align-items: center;
}

.imagRecipe{
    height: 350px;
    border-radius: 12px;
    margin-bottom: 100px;
    margin-right: 28px;
}

.steps{
    text-align: left;
    font-size: 12px;
    width: 600px;
}

.diets{
    /* list-style-type: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 180px;
    height: 150px;
    text-align: left;
    font-size: 12px;
}

.diets li{
    margin-left: 13px;
}

.summary{
    text-align: left;
    font-size: 14px;
    width: 453px;
    height: 300px;
}

.icon{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.conteneinerLoading{
    width: 100vh;
}

.loader {
    font-size: 20px;
    margin: 45% auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0em -3em 0em 0.2em #24242d, 2em -2em 0 0em #24242d, 3em 0em 0 -0.5em #24242d, 2em 2em 0 -0.5em #24242d, 0em 3em 0 -0.5em #24242d, -2em 2em 0 -0.5em #24242d, -3em 0em 0 -0.5em #24242d, -2em -2em 0 0em #24242d;
    }
    12.5% {
      box-shadow: 0em -3em 0em 0em #24242d, 2em -2em 0 0.2em #24242d, 3em 0em 0 0em #24242d, 2em 2em 0 -0.5em #24242d, 0em 3em 0 -0.5em #24242d, -2em 2em 0 -0.5em #24242d, -3em 0em 0 -0.5em #24242d, -2em -2em 0 -0.5em #24242d;
    }
    25% {
      box-shadow: 0em -3em 0em -0.5em #24242d, 2em -2em 0 0em #24242d, 3em 0em 0 0.2em #24242d, 2em 2em 0 0em #24242d, 0em 3em 0 -0.5em #24242d, -2em 2em 0 -0.5em #24242d, -3em 0em 0 -0.5em #24242d, -2em -2em 0 -0.5em #24242d;
    }
    37.5% {
      box-shadow: 0em -3em 0em -0.5em #24242d, 2em -2em 0 -0.5em #24242d, 3em 0em 0 0em #24242d, 2em 2em 0 0.2em #24242d, 0em 3em 0 0em #24242d, -2em 2em 0 -0.5em #24242d, -3em 0em 0 -0.5em #24242d, -2em -2em 0 -0.5em #24242d;
    }
    50% {
      box-shadow: 0em -3em 0em -0.5em #24242d, 2em -2em 0 -0.5em #24242d, 3em 0em 0 -0.5em #24242d, 2em 2em 0 0em #24242d, 0em 3em 0 0.2em #24242d, -2em 2em 0 0em #24242d, -3em 0em 0 -0.5em #24242d, -2em -2em 0 -0.5em #24242d;
    }
    62.5% {
      box-shadow: 0em -3em 0em -0.5em #24242d, 2em -2em 0 -0.5em #24242d, 3em 0em 0 -0.5em #24242d, 2em 2em 0 -0.5em #24242d, 0em 3em 0 0em #24242d, -2em 2em 0 0.2em #24242d, -3em 0em 0 0em #24242d, -2em -2em 0 -0.5em #24242d;
    }
    75% {
      box-shadow: 0em -3em 0em -0.5em #24242d, 2em -2em 0 -0.5em #24242d, 3em 0em 0 -0.5em #24242d, 2em 2em 0 -0.5em #24242d, 0em 3em 0 -0.5em #24242d, -2em 2em 0 0em #24242d, -3em 0em 0 0.2em #24242d, -2em -2em 0 0em #24242d;
    }
    87.5% {
      box-shadow: 0em -3em 0em 0em #24242d, 2em -2em 0 -0.5em #24242d, 3em 0em 0 -0.5em #24242d, 2em 2em 0 -0.5em #24242d, 0em 3em 0 -0.5em #24242d, -2em 2em 0 0em #24242d, -3em 0em 0 0em #24242d, -2em -2em 0 0.2em #24242d;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0em -3em 0em 0.2em #24242d, 2em -2em 0 0em #24242d, 3em 0em 0 -0.5em #24242d, 2em 2em 0 -0.5em #24242d, 0em 3em 0 -0.5em #24242d, -2em 2em 0 -0.5em #24242d, -3em 0em 0 -0.5em #24242d, -2em -2em 0 0em #24242d;
    }
    12.5% {
      box-shadow: 0em -3em 0em 0em #24242d, 2em -2em 0 0.2em #24242d, 3em 0em 0 0em #24242d, 2em 2em 0 -0.5em #24242d, 0em 3em 0 -0.5em #24242d, -2em 2em 0 -0.5em #24242d, -3em 0em 0 -0.5em #24242d, -2em -2em 0 -0.5em #24242d;
    }
    25% {
      box-shadow: 0em -3em 0em -0.5em #24242d, 2em -2em 0 0em #24242d, 3em 0em 0 0.2em #24242d, 2em 2em 0 0em #24242d, 0em 3em 0 -0.5em #24242d, -2em 2em 0 -0.5em #24242d, -3em 0em 0 -0.5em #24242d, -2em -2em 0 -0.5em #24242d;
    }
    37.5% {
      box-shadow: 0em -3em 0em -0.5em #24242d, 2em -2em 0 -0.5em #24242d, 3em 0em 0 0em #24242d, 2em 2em 0 0.2em #24242d, 0em 3em 0 0em #24242d, -2em 2em 0 -0.5em #24242d, -3em 0em 0 -0.5em #24242d, -2em -2em 0 -0.5em #24242d;
    }
    50% {
      box-shadow: 0em -3em 0em -0.5em #24242d, 2em -2em 0 -0.5em #24242d, 3em 0em 0 -0.5em #24242d, 2em 2em 0 0em #24242d, 0em 3em 0 0.2em #24242d, -2em 2em 0 0em #24242d, -3em 0em 0 -0.5em #24242d, -2em -2em 0 -0.5em #24242d;
    }
    62.5% {
      box-shadow: 0em -3em 0em -0.5em #24242d, 2em -2em 0 -0.5em #24242d, 3em 0em 0 -0.5em #24242d, 2em 2em 0 -0.5em #24242d, 0em 3em 0 0em #24242d, -2em 2em 0 0.2em #24242d, -3em 0em 0 0em #24242d, -2em -2em 0 -0.5em #24242d;
    }
    75% {
      box-shadow: 0em -3em 0em -0.5em #24242d, 2em -2em 0 -0.5em #24242d, 3em 0em 0 -0.5em #24242d, 2em 2em 0 -0.5em #24242d, 0em 3em 0 -0.5em #24242d, -2em 2em 0 0em #24242d, -3em 0em 0 0.2em #24242d, -2em -2em 0 0em #24242d;
    }
    87.5% {
      box-shadow: 0em -3em 0em 0em #24242d, 2em -2em 0 -0.5em #24242d, 3em 0em 0 -0.5em #24242d, 2em 2em 0 -0.5em #24242d, 0em 3em 0 -0.5em #24242d, -2em 2em 0 0em #24242d, -3em 0em 0 0em #24242d, -2em -2em 0 0.2em #24242d;
    }
  }

